* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1, h2, h3, p {
	font-family: 'Prosto One', cursive;
	/*font-family: 'Bubbler One', sans-serif;*/
	/*font-family: Tahoma;*/
	margin: 10px;
}

html, body{
	background-color: #F0F0F0 ;
}

h1{
	font-size: 1.5em;
	padding: 10px;
	color: #3399FF;
	/*color: #ed0977 !important;*/
}

h2{
	font-size: 0.8em;
	padding: 2px;
	color: #FFF;
	/*color: #ed0977 !important;*/
}

h3{
	font-size: 2.2em;
	font-weight: 400em;
	padding: 2px;
	color: #009933;
	/*color: #ed0977 !important;*/
}

p{
	color: #808080;
}

 
#container
{
/*position: relative;*/
width: 90%;
margin: 10px auto;
background-color: #fff;
color: #333;
border: 1px solid gray;
line-height: 130%;
padding: 20px;
border-radius: 15px;
margin-top: 100px;
overflow: hidden;
}

#top
{
/*background-color: #003366;*/
padding: .5em;
background-color: #ddd;
border-bottom: 1px solid gray;
width: 100%;
margin: 0 auto;
position: fixed;
top: 0;
z-index: 1;
}

#top h1
{
padding: 0;
margin: 0;
}

#leftnav
{
float: left;
width: 160px;
margin: 0;
padding: 1em;
}

#rightnav
{
float: right;
width: 160px;

margin: 0;
padding: 1em;
}

#content
{
/*margin-left: 200px;*/
border-left: 1px solid gray;
/*margin-right: 200px;*/
border-right: 1px solid gray;
padding: 1em;
max-width: 900px;
float: left;
}



#footer
{
/*margin: 0;
padding: .5em;*/
color: #333;
/*background-color: #003366;*/
background-color: #ddd;
border-top: 1px solid gray;
bottom: 0px;
width: 100%;
position: fixed;
}

#leftnav p, #rightnav p { margin: 0 0 1em 0; }
#content h2 { margin: 0 0 .5em 0; }

#find-restaurant-box{
	width: 600px;
	height: 200px;
	box-shadow: -5px -5px 5px #888;
	/*background-color: #003366;*/
	/*background-color: #66CCFF;*/
	background-color: #D0D0D0;
	border-radius: 15px;
	margin: 10px;
}

.restaurant-row{
	width: 600px;
	height: 100px;
	/*position: absolute;
*/	background-color: #F0F0F0;
	margin: 10px;
	border-radius: 15px;
}

.outer-search-form{
	width: 560px;
	/*height: 100px;*/
	/*position: absolute;/**/
	/*background-color: #B3D88C;*/
	/*background-color: #3399FF;*/
	background-color: #33CCFF;
	box-shadow: -5px -5px 5px #888;
	margin: 20px;
	border-radius: 15px;
	clear: left;
	top: 50%;
	margin-top: -50px;
}



.search-form{
	display: inline-block;
	margin: 10px;
	padding: 10px;
}



.restaurant_icon{
	float: right;
	width: 200px;
	border: 1px solid black;
	margin-top: 17px;
}